@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './components.scss';
@import './slick.scss';
@import './slick-theme.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// .mode{
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
// }

video {
  min-width: 100%;
min-height: 100%;
}


img {
  object-fit: cover;
}

::-webkit-file-upload-button { cursor:pointer; }

.arrow--hide {
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.arrow--hide:hover {
  opacity: 1;
}

.animate--button {
  transition: box-shadow 0.25s ease-in-out;
}

.animate--button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}